* {
    margin: 0; padding: 0;
    /* box-sizing: border-box; */
  }
  
  a { text-decoration: none;}
  ul { list-style-type: none;}
  
  body {
    font-size: 18px;
    font-family: 'Nanum Gothic', sans-serif;
    min-width: 1200px;
    color: #333;
  }
  
  .header_wrap {
    box-shadow: 0px 1px 8px rgba(0,0,0,0.1);
  }
  
  #main_header {
    width: 1200px; height: 100px;
    position: relative;
    /* background: #ccc; */
    margin: 0 auto;
  }
  #main_header > h1 {
    position: absolute;
    left: 0; top: 5px;
  }
  #gnb {
    position: absolute;
    right: 0; top: 40px;
  }
  #gnb > ul > li {
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
  }
  #gnb > ul > li:last-child { margin-right: 0;}
  
  #gnb > ul > li a { color: #333; }

  #visual {
      height: 222px;
      background-image: url(../iamges/vis1.jpg);
      color: #fff;
      text-align: center;  
  }
  #visual > h1, #visual > pre {
      position: relative;
      top: 25%;
      padding-top: 20px;
  }
  #visual > pre {
      font-size: 15px;
  }
  #sub {
      text-align: center;
  }
  #sub > ul {
      margin: 0 auto;
      margin-top: 50px;
      width: 1200px;
      /* background: #f9f9f9; */
  }
  #sub > ul > li {
    width: 240px;
    display: block;
    background: #f9f9f9;
    float: left;
    text-align: center;
    outline: 1px solid rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  #sub > ul > li a {
      color: #666;
      height: 43px;
      line-height: 43px;
  }

  #sub-visual img {
    width: 1200px;
    /* margin: 0 auto; */
    margin-left: 351px;
    margin-top: 50px;
  }
  #table {
      width: 1200px;
      margin: 0 auto;
      margin-top: 50px;
      /* position: relative; */
      /* left: 380px; bottom: -100px; */
  }

  #table, th, td {
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-collapse: collapse;
      padding: 15px;
  }

  #table th {
      background: #f9f9f9;
      font-size: 14px;
      padding-left: 30px;   
      padding-right: 30px;  
    }
  #table td {
      font-size: 14px;
      padding-right: 730px;
  }
  #table caption {
      text-align: left;
      font-weight: bold;
      font-size: 25px;
      margin-bottom: 10px;
  }

  #main-footer {
    margin: 0 auto;
    width: 1200px;
    height: 45px;
    /* margin: 0 auto; */
    margin-top: 30px;
    background: #f8f8f8;
  }
  #footer-menu {
    /* outline: 1px solid red; */
    height: 60px;
  }
  #footer-menu > ul {
    float: left;
  }
  #footer-menu > ul > li {
    display: inline-block;
    margin-left: 5px;
    font-size: 14px;
    line-height: 45px;
  }
  #footer-menu > ul > li:first-child {
    margin: 0;
  }
  #footer-menu > ul > li > a {
    color: #888;
  }
  #footer-menu > a {
    float: right;
    background: #444;
    color: #fff;
    font-size: 15px;
    line-height: 45px;
    width: 70px;
    text-align: center;
  }
  .footer-info {
    /* outline: 1px solid red; */
    height: 80px;
  }
  .footer-info > .logo {
    float: left;
    margin-top: 10px;
    /* margin-bottom: 10px; */
  }
  .footer-info > .f-logo {
      float: right;
      margin-top: 10px;
  }
  .footer {
    /* margin-top: 10px; */
    height: 35px;
    /* display: block; */
    font-size: 12px;
    color: #888;
    float: left;
  }

  